{% extends "page.tpl.html" %}
{% block title %}Applicant Portal{% endblock %}

{% block content %}
<h2>My current applications and pending tasks</h2>
{% if running_workflows_and_tasks %}
<ul>
  {% for workflow, tasks, unread in running_workflows_and_tasks %}
  <li>
  {% ifequal workflow.customer.user.id user.id %}
    <a href="{% url 'view_workflow' workflow_id=workflow.id %}">{{workflow.label}} - {{workflow.spec.name}}</a>
  {% else %}
    <a href="{% url 'view_workflow' workflow_id=workflow.id %}">{{workflow.label}} - {{workflow.spec.name}} ({{ workflow.customer.user.get_full_name }})</a>
  {% endifequal %}
  <ul>
    {% ifnotequal unread 0 %}
      <li>
        <a href="{% url 'view_workflow_messages' workflow_id=workflow.id %}">{{unread}} unread messages </a>
      </li>
    {% else %}{% endifnotequal %}
    {% for task in tasks %}
    <li>
      <a href="{% url 'view_task' workflow_id=workflow.id task_uuid=task.uuid %}">{{task.spiff_task.get_name}}</a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</ul>
{% else %}
<p>No current applications.</p>
{% endif %}

<h2>My completed applications</h2>
{% if completed_workflows %}
<ul>
  {% for workflow, unread in completed_workflows %}
  <li>
  {% ifequal workflow.customer.user.id user.id %}
    <a href="{% url 'view_workflow' workflow_id=workflow.id %}">{{workflow.label}} - {{workflow.spec.name}}</a>
  {% else %}
    <a href="{% url 'view_workflow' workflow_id=workflow.id %}">{{workflow.label}} - {{workflow.spec.name}} ({{ workflow.customer.user.get_full_name }})</a>
  {% endifequal %}
  {% ifnotequal unread 0 %}
    <ul><li>
      <a href="{% url 'view_workflow_messages' workflow_id=workflow.id %}">{{unread}} unread messages </a>
    </li></ul>
  {% else %}{% endifnotequal %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No completed applications.</p>
{% endif %}

<h2>Start a new application</h2>
<ul>
  {% for spec in workflow_specs %}
  <li><a href="{% url 'new_workflow' workflowspec_id=spec.id %}">{{ spec.name }}</a></li>
  {% endfor %}
</ul>

{% endblock content %}
