{% extends "page.tpl.html" %}
{% block title %}Start new application - {{ workflowspec.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-7">
        <h2>Application information</h2>
        <ul><li><strong>Application Name:</strong> {{ workflowspec.name }}</li>
        <li><strong>Approving Agency:</strong> {{ workflowspec.owner.name }}</li>
        <li><strong>Description:</strong> {{ workflowspec.description | safe }}</li>
        </ul>
    </div>
    <div class="col-md-5">
        {% if error %}<b>{{error}}</b>{% endif %}
        <form action="{% url 'new_workflow' workflowspec.id %}" method="POST" role="form">
            {% csrf_token %}
            <label for='account'>Start application as: </label>
            <select name="account" class="form-control">
              {% for account in accounts %}
              <option value="{{account.id}}">{{account.user.username}}</option>
              {% endfor %}
            </select><br>
            <button type="submit" name="create_workflow" value='create_workflow' class="btn btn-default">Start Application</button>
        </form>
    </div>
</div>
{% endblock content %}
