{% extends "page.tpl.html" %}
{% block title %}Remove a Parent Account{% endblock %}
{% block content %}

<form action="{% url 'remove_parentaccounts' %}" method="post" role="form">
    {% csrf_token %}
    {% for account in parentaccounts %}
    <div class="radio">
        <label>
            <input type="radio" name="remove_account" id="rem_account{{forloop.counter}}" value="{{account.id}}" />
            {{account.user.get_full_name}}({{account.user.email}})
        </label><br>
    </div>
    {% endfor %}
    <button type="submit" name="submit" class="btn btn-default">Remove Account</button>
</form>
{% endblock content %}