{% extends "digiapproval/base.tpl.html" %}
{% block title %}{{workflow.label}} - {{workflow.spec.name}}{% endblock %}
{% block content %}
<p class="muted">Customer: {{workflow.customer.user.get_full_name}}<br/>
Approver: {{workflow.approver.get_full_name}}</p>

<div class="row">
  <div class="col-md-7">
    <h2>Tasks</h2>
    <ul>
      {% for task in tasks %}
      <li class="task task-{{task.state_name|lower}} {% if task.show_task_link %}task-actionable{% endif %}">
      <b>{{task.name}}</b> - {{task.state_name|title}}
      {% if task.actor %}
      - {{task.actor|title}}
      {% if task.show_task_link %}
      - <a href="{% url 'view_task' task.workflow_id task.uuid %}">Complete</a>
      {% endif %}
      {% if task.show_data_link %}
      - <a href="{% url 'view_task_data' task.uuid %}">View</a>
      {% endif %}
      {% endif %}
      {% if task.indent %}<ul>
      {% elif task.dedent %}</li></ul>
      {% else %}</li>
      {% endif %}
      {% endfor %}
    </ul>
    <h2>Options</h2>
    {% ifequal user_type 'CUSTOMER' %}
      {% ifequal workflow.state 'STARTED' %}
        <form action="{% url 'update_workflow_label' workflow.id %}" method="POST" role="form" class="form-inline">
          {% csrf_token %}
          <div class="form-group">
            <label for="label" class="sr-only">Workflow Title</label>
            <input type="text" name="label" value="{{workflow.label}}" class="form-control" max_length="50"/>
          </div>
          <button type="submit" name="submit" class="btn btn-default">Update Title</button>
        </form>
        <form action="{% url 'update_workflow_state' workflow.id %}" method="POST" role="form">  
          {% csrf_token %}
          <input type="hidden" name="wf_state" value="CANCELLED"/>
          <button type="submit" name="submit" class="btn btn-default">Withdraw Application</button>
        </form>
      {%endifequal %}
    {% else %}
      {% include 'digiapproval/workflow_state.html' %}
    {% endifequal %}
    
{% comment %}
    <h2>Debug Info</h2>
    <pre>
      {{workflow.workflow.spec.get_dump}}
    </pre>
    <pre>
      {{workflow.workflow.get_dump}}
    </pre>
{% endcomment %}
  </div>
  
  <div class="col-md-5">     
    <h2>Recent Messages</h2>
    <form action="{% url 'view_workflow_messages' workflow.id %}" method="POST" role="form">
      {% csrf_token %}
      <label for="new_message">New Message:</label>
      <textarea name="new_message" class="form-control" rows="4"></textarea><br>
      <button type="submit" name="submit" class="btn btn-default">Post Message</button>
    </form>
    {% if messages %}
      {% for message in messages %}
        <blockquote>
          <pre>{{message.message}}</pre>
          <small>User: {{message.sender.get_full_name}}, Date: {{message.posted}}</small>
        </blockquote>
      {% endfor %}
      <a href="{% url 'view_workflow_messages' workflow.id%}">View all messages</a>
    {% else %}
    There are no messages associated with this workflow
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Workflow</h3>
    <p><a href="{% url 'view_workflow_svg_fullsize' workflow_id=workflow.id %}" target="_blank">Open in new tab</a></p>
    <object type="image/svg+xml" data="{% url 'view_workflow_svg' workflow_id=workflow.id %}" alt="A graphical depiction of the workflow."></object>
  </div>
</div>
{% endblock content %}
