{% extends "page.tpl.html" %}
{% block title %}{{workflow.spec.name}}{% endblock %}

{% block content %}
<p class="muted">Customer: {{workflow.customer.user.username}}.</p>
<p class="muted">Approver: {{workflow.approver.get_full_name}}.</p>

<div class="row">
  <div class="col-md-7">
    <h2>Tasks</h2>
    <ul>
      {% for task in tasks %}
      <li><b>{{task.name}}</b> - {{task.state_name|title}}
      {% if task.actor %}
      - {{task.actor|title}}
      {% if task.show_task_link %}
      - <a href="{% url 'view_task' workflow.id task.uuid %}">View</a>
      {% endif %}
      {% if task.show_data_link %}
      - <a href="{% url 'view_task_data' task.uuid %}">View</a>
      {% endif %}
  
      {% endif %}
      </li>
      {% endfor %}
    </ul>

    <h2>Debug Info</h2>
    <pre>
      {{workflow.workflow.spec.get_dump}}
    </pre>
    <pre>
      {{workflow.workflow.get_dump}}
    </pre>
  </div>
  
  <div class="col-md-5">
    <h2>Recent Messages</h2>
    <form action="{% url 'view_workflow_messages' workflow.id %}" method="POST" role="form">
      {% csrf_token %}
      <label for="new_message">New Message:</label>
      <textarea name="new_message" class="form-control" rows="4"></textarea><br>
      <button type="submit" name="submit" class="btn btn-default">Post Message</button>
    </form>
    {% if messages %}
      {% for message in messages %}
        <blockquote>
          {{message.message}}
          <small>User: {{message.sender.username}}, Date: {{message.posted}}</small>
        </blockquote>
      {% endfor %}
      <a href="{% url 'view_workflow_messages' workflow.id%}">View all messages</a>
    {% else %}
    There are no messages associated with this workflow
    {% endif %}
  </div>
</div>
{% endblock content %}
