{% extends "digiapproval/page.tpl.html" %}
{% block title %}{{workflow.spec.name}}: Messages{% endblock title %}

{% block content %}
<form action="", method="post">
    {% csrf_token %}
    <label for="new_message">New Message:</label>
    <input type='text' rows="4" cols="40" name="new_message" value = ""/><br>
    <input type="submit", value="Post Message"/>
</form>
{% if messages %}
  {% for message in messages %}
    <h3>Date: {{message.posted}}, User: {{message.sender.username}}</h3>
    <pre>
      {{message.message}}
    </pre>
  {% endfor %}
{% else %}
There are no messages associated with this workflow
{% endif %}
{% endblock content %}