{% extends "digiapproval/base.tpl.html" %}
{% block title %}{{task.workflow.spec.name}}: {{spiff_task.get_name}}{% endblock %}

{% block content %}
<p class="muted">Customer: {{task.workflow.customer.user.get_full_name}}<br/>
Approver: {{task.workflow.approver.get_full_name}}</p>

<p class="lead">Entered data</p>
<dl>
  {% for field in task.task.fields.items %}
  <dt>{{field.0|title}}</dt>
  <dd><emph>{{field.1.label}}</emph> 
    <!-- create link if file field -->
    {% if field.1.type == 'file' %}
      <a href="{{field.1.value}}">Click to download</a> 
    {% elif field.1.type == 'checkbox' %}
      {% if field.1.value %}Yes{% else %}No{% endif %}
    {% else %} 
      {{field.1.value}} 
    {% endif %}
  </dd>
  {% endfor %}
</dl>

{% endblock content %}
