{% extends "page.tpl.html" %}
{% block title %}{{workflow.spec.name}}: Messages{% endblock title %}

{% block content %}
<form action="", method="post" role="form">
    {% csrf_token %}
    <label for="new_message">New Message:</label>
    <textarea name="new_message" class="form-control" rows="4"></textarea><br>
    <button type="submit" name="submit" class="btn btn-default">Post Message</button>
</form>
{% if messages %}
  {% for message in messages %}
    <blockquote>
      {{message.message}}
      <small>User: {{message.sender.username}}, Date: {{message.posted}}</small>
    </blockquote>
  {% endfor %}
{% else %}
There are no messages associated with this workflow
{% endif %}
{% endblock content %}