{% extends "digiapproval/base.tpl.html" %}
{% block title %} Connect task to "{{origin_task.name}}" ({{spec_model.name}}){% endblock %}

{% block content %}
<div class="col-md-6">
  {% block currently_conected %}
  
  {% if origin_task.outputs %}
  <h3>Currently connected</h3>
  <b> {% if disconnect_error %}{{disconnect_error}}{%endif%}</b>
  <form action="{% url 'disconnect_task' spec_id=spec_model.id task_name=origin_task.name %}" method="POST" role="form">
    {% csrf_token %}
    <ul>
      {% for task in origin_task.outputs %}
        <li>
          {{task.name}}
          <button type="submit" name="disconnect" value="{{task.name}}" class="btn btn-default">Disconnect</button>
        </li>
      {% endfor %}
    </ul>
  </form>
  <hr>
  {% endif %}
  
  {% endblock %}
  <form action="{% url 'connect_task' spec_id=spec_model.id task_name=origin_task.name %}" method="POST" role="form">
    {% csrf_token %}
    <b>{% if error %}{{error}}{% endif %}</b><br>
    
    <!-- take other fields while creating task -->
    {% block connect_other_fields %}{% endblock %}
    
    <!--select pre-created task to connect to-->
    <div class="form-group">
      <label for="existing_task">Connect to existing task</label>
      <select name="existing_task" class="form-control">
        {% for task, type in existing_tasks.items %}
        <option value="{{task}}">{{task}} ({{type}})</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <button type="submit" name="connect" class="btn btn-default">Connect</button>
    </div>
    <!-- build new task -->
    <div class="form-group">
      <label for="new_task">Connect to new task</label>
      <select name="new_task" class="form-control">
        {% for task_name, desc in legal_tasks.items %}
        <option value="{{task_name}}">{{desc.0}} ({{desc.1}})</option>
        {% endfor %}
      </select>      
    </div>
    <div class="form-group">
      <label for="task_label" class="sr-only">Name of task</label>
      <input type="text" name="task_label" class="form-control" placeholder="Name">
    </div>
    
    <div class="form-group">
      <button type="submit" name="create" class="btn btn-default">Create</button>
    </div>
  </form>
</div>
<div clas="col-md-6">
  <h3>About Connecting Tasks</h3>
  <p>This page facilitates the connection of tasks (steps in an application)</p>
  <p>Tasks can be connected to other existing or to newly created tasks.</p>
  <p>Some special tasks (such as the various branches) assign special meaning or additional fields to each task</p>
</div>
{% endblock %}