{% extends "digiapproval/base.tpl.html" %}
{% block title %} Edit Task Dictionary of: "{{task.name}}" ({{spec_model.name}}){% endblock %}

{% block content %}
<div class="col-md-6">
  <h3>Options</h3>
  <form action="{% url 'task_dict' spec_id=spec_model.id task_name=task.name %}" method="POST" role="form">
    {% csrf_token %}
    <div class="form-group">
      <label for="actor">Set actor for task</label>
      <select name="actor">
        <option value="APPROVER" {% ifequal task.data.task_data.actor 'APPROVER' %}selected{% endifequal %}>Approver</option>
        <option value="CUSTOMER" {% ifequal task.data.task_data.actor 'CUSTOMER' %}selected{% endifequal %}>Customer</option>
      </select>
      <button type="submit" name="update_actor" class="btn btn-default">Set Actor</button>
    </div>
    
    <div class="form-group">
      <button type="submit" name="delete_dict" class="btn btn-default">Delete Task Dictionary</button>
    </div>
    {% block taskdict_fields %}Task Specific fields{% endblock %}
  </form>
</div>

<div class="col-md-6">
  <h3>Placeholder</h3>
  Information on creating task_dicts
  {% block task_info %}Task Dict Specific Information{% endblock %}
</div>
{% endblock %}