{% extends "digiapproval/base.tpl.html" %}
{% block title %} {{spec_model.name}} ({{spec_model.owner.name}}) {% endblock %}

{% block header %} 
<form action="" method="POST" role="form" class="form-inline">
  {% csrf_token %}
  {{spec_model.name}} ({{spec_model.owner.name}})
  <button type="submit" name="toggle_public" value="toggle_public" class="btn btn-default">
    {% if spec_model.public %} Public {% else %} Private {% endif %}
  </button>
</form>
{% endblock %}


{%block content %}
<div class="row">
<!-- task list -->
<div class="col-md-6">
  <h3>Tasks</h3>
  <ul>
    {% for task, task_obj in spec_model.spec.task_specs.items|dictsort:"0.lstrip" %}
    <li>
      {{task}}
      <ul>
        <li><a href="{% url 'connect_task' spec_id=spec_model.id task_name=task %}">Modify connected tasks</a></li>
          {% ifnotequal task 'Start' %}
            {% ifequal task_obj.inputs|length 0%}
              <li><a href="{% url 'delete_task' spec_id=spec_model.id task_name=task %}">Delete this task</a></li>
            {% endifequal %}
          {% endifnotequal %}
        <li>
          {% if 'task_data' in task_obj.data %}
            <a href="{% url 'task_dict' spec_id=spec_model.id task_name=task %}">
              Edit Task Form ({{task_obj.data.task_data.nice_name}})
            </a>
          {% else %}
          <form action="" method="POST" role="form">
            {% csrf_token %}
            <input type="hidden" name="task_name" value="{{task }}">
            <div class="form-group-inline">
              <select name="new_dict">
                {% for name, label in task_dicts.items %}
                <option value="{{name}}">{{label}}</option>
                {% endfor %}
              </select>
              <button type="submit" name="create_dict" class="btn btn-default">New Task Form</button>
            </div>
          </form>
          {% endif %}
        </li>
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- input form -->
<div class="col-md-6">
  <h3>Options</h3>
  <form action="" method="POST" role="form">
    {% csrf_token %}
    <!-- spec name-->
    <div class="form-group">
      <label for="label">Spec Name</label>
      <input type="text" name="spec_name" value="{{spec_model.name}}" class="form-control" max_length="64"/>
    </div>
    <!-- spec-desc -->
    <div class="form-group">
      <label for="spec_description">Description</label>
      <textarea name="spec_description" class="form-control" rows="4">{{spec_model.description}}</textarea>
    </div>
    <!-- edit groups -->
    <div class="form-group">
      <label for="owner-group">Owner Group</label>
      <select name="owner-group">
        {% for group in groups %}
        <option value="{{group.id}}" {% ifequal group.id spec_model.owner.id %}selected{% endifequal %}>
          {{group.name}}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="approvers-group">Approver Group</label>
      <select name="approvers-group">
        {% for group in groups %}
        <option value="{{group.id}}" {% ifequal group.id spec_model.approvers.id %}selected{% endifequal %}>
          {{group.name}}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="delegators-group">Delegator Group</label>
      <select name="delegators-group">
        {% for group in groups %}
        <option value="{{group.id}}" {% ifequal group.id spec_model.delegators.id %}selected{% endifequal %}>
          {{group.name}}
        </option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" name="edit_name" class="btn btn-default">Update Workflow Spec</button>
  </form>
</div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Workflow</h3>
    <p><a href="{% url 'view_spec_svg_fullsize' spec_id=spec_model.id %}" target="_blank">Open in new tab</a></p>
    <object type="image/svg+xml" data="{% url 'view_spec_svg' spec_id=spec_model.id %}" alt="A graphical deption of the specification."></object>
  </div>
</div>
{% endblock %}