{% extends 'spec_builder/task_dict.html' %}
{% block header %}Edit Checkbox Exclusive Branch for "{{task.name}}"{% endblock %}

{% block taskdict_fields %}
<!-- minimum branch score -->
<div class="form-group">
  <label for="min_score"><h3>Minimum Score for Success Branch</h3></label>
  <input type="text" name="min_score" value="{{min_score}}" placeholder="0" class="form-control">
</div>
<div class="form-group">
  <button type="submit" name="new_min_score" class="btn btn-default">Update</button>
</div>
<hr>
<!--New Field Entry-->
<h3>New Item</h3>
<div class="form-group">
  <label for="new_name">Name</label>
  <input type="text" name="new_name" class="form-control">
</div>
<div class="form-group">
  <label for="new_label">Label</label>
  <input type="text" name="new_label" class="form-control">
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="new_mandatory"/>Mandatory
    </label>
</div>
<div class="form-group">
  <label for="new_score">Score</label>
  <input type="text" name="new_score" placeholder="0" class="form-control">
</div>
<div class="form-group">
  {% comment %}TODO: JavaScript front-end filtering of semantic field types{% endcomment %}
  <label for="new_semantic_field">Semantic Field Type</label>
  <select name="new_semantic_field" class="form-control">
    <option name="">N/A</option>
    {% for semantic_field_type in semantic_field_types %}
    <option name="{{ semantic_field_type.name }}">{{ semantic_field_type.name }}</option>
    {% endfor %}
  </select>
</div>
<div class="form-group">
  <button type="submit" name="new_field" class="btn btn-default">Add New Field</button>
</div>

<!--existing field modification-->
{% if fields %}
  {% for field_name, field_obj in fields.items %}
    <hr>
    <div class="form-group-inline">
      <h3>
        {{field_name}}
        <button type="submit" name="{{field_name|add:'_delete'}}" class="btn btn-default">Remove</button>
      </h3>
    </div>
    <div class="form-group">
      <label for="{{field_name|add:'_label'}}">Label</label>
      <input type="text" name="{{field_name|add:'_label'}}" value="{{field_obj.label}}" class="form-control">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="{{field_name|add:'_mandatory'}}" {% if field_obj.mandatory %}checked{% endif %}/>Mandatory
      </label>
    </div>
    <div class="form-group">
      <label for="{{field_name|add:'_score'}}">Score</label>
      <input type="text" name="{{field_name|add:'_score'}}" value="{{field_obj.score}}" placeholder="0" class="form-control">
    </div>
    <div class="form-group">
      {% comment %}TODO: JavaScript front-end filtering of semantic field types{% endcomment %}
      <label for="{{field_name|add:'_semantic_field'}}">Semantic Field Type</label>
      <select name="{{field_name|add:'_semantic_field'}}" class="form-control">
        <option value=""{% if not field_obj.semantic_field %} selected{% endif %}>N/A</option>
        {% for semantic_field_type in semantic_field_types %}
        <option value="{{ semantic_field_type.name }}"{% if semantic_field_type.name == field_obj.semantic_field %} selected{% endif %}>{{ semantic_field_type.name }}</option>
        {% endfor %}
      </select>
    </div>
  {% endfor %}
  
  <div class="form-group">
    <button type="submit" name="submit" class="btn btn-default">Save Changes</button>
  </div>
{% endif %}
{% endblock %}

{% block task_info %}
<p>The "Checkbox Exclusive Branch" form prompts the user with a list of checkboxes. Each of these checkboxes has the following attributes: 
  <ul>
    <li><b>Name:</b> for internal reference only </li>
    <li><b>Label:</b> displayed alongside the checkbox </li>
    <li><b>Mandatory:</b> sets if this the completion of this checkbox is mandatory </li>
    <li><b>Score:</b> a numeric value associated with the checkbox </li>
  </ul>
  Previously added checkboxes can be further modified or removed.
</p>
<p>If the total score of selected checkboxes is greater than the "Minimum Score for Success Branch" value the success branch (configured <a href="{% url 'connect_task' spec_id=spec_model.id task_name=task.name %}">here</a>) is started. </p>
<p> As this form is tied to the underlying task its deletion is prohibited</p>

{% endblock %}