{% extends 'spec_builder/task_dict.html' %}
{% block header %}Edit Fill out a Form for "{{task.name}}"{% endblock %}

{% block taskdict_fields %}
<!--New Field Entry-->
<h3>New Field</h3>
<div class="form-group">
  <label for="new_name">Name</label>
  <input type="text" name="new_name" class="form-control">
</div>
<div class="form-group">
  <label for="new_label">Label</label>
  <input type="text" name="new_label" class="form-control">
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" name="new_mandatory"/>Mandatory
    </label>
</div>
<div class="form-group">
  <select name="new_type">
    {% for type_name, type_nice_name in field_types.items %}
    <option value="{{type_name}}">{{type_nice_name}}</option>
    {% endfor %}
  </select>
</div>
<div class="form-group">
  <button type="submit" name="new_field" class="btn btn-default">Add New Field</button>
</div>

<!--existing field modification-->
{% if fields %}
  {% for field_name, field_obj in fields.items %}
    <hr>
    <div class="form-group-inline">
      <h3>
        {{field_name}}
        <button type="submit" name="{{field_name|add:'_delete'}}" class="btn btn-default">Remove</button>
      </h3>
    </div>
    <div class="form-group">
      <label for="{{field_name|add:'_label'}}">Label</label>
      <input type="text" name="{{field_name|add:'_label'}}" value="{{field_obj.label}}" class="form-control">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="{{field_name|add:'_mandatory'}}" {% if field_obj.mandatory %}checked{% endif %}/>Mandatory
      </label>
    </div>
    <div class="form-group">
      <select name="{{field_name|add:'_type'}}">
        {% for type_name, type_nice_name in field_types.items %}
        <option value="{{type_name}}" {% ifequal field_obj.type type_name %}selected{% endifequal %}>{{type_nice_name}}</option>
        {% endfor %}
      </select>
    </div>
  {% endfor %}
  
  <div class="form-group">
    <button type="submit" name="submit" class="btn btn-default">Save Changes</button>
  </div>
{% endif %}
{% endblock %}

{% block task_info %}
<p>
  The "Fill out a Form" task form prompts the user to complete a series of fields. New fields require the following attributes:
  <ul>
    <li><b>Name:</b> for internal reference only </li>
    <li><b>Label:</b> displayed alongside the field </li>
    <li><b>Mandatory:</b> sets if this the completion of this field is mandatory </li>
    <li><b>Type:</b> the type of the displayed field</li>
  </ul>
  Previously added fields can be further modified or removed.
</p> 
{% endblock %}