{% extends 'spec_builder/task_dict.html' %}

{% block title %} Edit Upload a File for "{{task.name}}"{% endblock %}


{% block taskdict_fields %}
<div class="checkbox">
    <label>
        <input type="checkbox" name="mandatory" {% if mandatory %}checked{% endif %}/>Is uploading a file mandatory?
    </label>
</div>
<div class="form-group">
  <button type="submit" name="submit" class="btn btn-default">Save Changes</button>
</div>
{% endblock %}

{% block task_info %}
<p>The "Upload a File" form will prompt a user to select a file for submission and label it. The mandatory nature of this can be configured on the left</p>
{% endblock %}