{%extends 'digiapproval/taskforms/AbstractForm.html' %}

{% block content %}
<form action="" method="POST" role="form">
    {% csrf_token %}
    <textarea class="form-control" rows="10" readonly>{{agreement}}</textarea>
    {% if error %}<b>{{error}}</b>{% endif %}
    <div class="checkbox">
        <label>
            <input type="checkbox" name="checkbox_value"
            {% comment %}The onclick handler is required for checkboxes{% endcomment %}
            {% if disabled %}readonly onclick="return false"{% endif %} />{{checkbox_label}}
        </label>
    </div>
    <button type="submit" name="submit" class="btn btn-default">Continue</button>
</form>
{% endblock content %}

