{%extends 'digiapproval/taskforms/AbstractForm.html' %}
{% block form %}
<form action="" method="POST" role="form">
    {% csrf_token %}
    {% for field, items in form_fields.items %}
    <div class="checkbox">
        <label>
            <input type="checkbox" name="{{ field }}"
            {% comment %}The onclick handler is required for checkboxes{% endcomment %}
            {% if items.disabled %}readonly onclick="return false"{% endif %} />{{items.label}}
        </label>
    </div>
    {% endfor %}
    <button type="submit" name="submit" class="btn btn-default">Continue</button>
</form>
{% endblock form %}

    