{% extends "digiapproval/page.tpl.html" %}
{% block title %}{{ task }}{% endblock %}
{% load taskform_tags %}

{% block content %}
{% if error %}{{error}}{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    {% for field, items in form_fields.items %}
    <label for="{{field}}">{{items.label}}</label>
    <input type="{{ items.type }}" name="{{ field }}" 
    value={% if items.value %} "{{ items.value }}" {% else %} "" {% endif %}/><br>
    {% endfor %}
    <input type="submit" name="submit" value="Continue"/>
</form>
{% endblock content %}
    