{%extends 'digiapproval/taskforms/AbstractForm.html' %}
{% block form %}
<form action="" method="POST" enctype="multipart/form-data"> <!-- Start of form -->
    {% csrf_token %} <!-- Boilerplate tag to prevent cross site forgery -->
    {% for field, items in form_fields.items %} <!-- Iterate through fields provided to template -->
    <label for="{{field}}">{{items.label}}</label> <!-- Label for current field -->
    <input type="{{items.type}}" name="{{ field }}"/><br> <!-- Creates field with specified field type -->
    {% endfor %}
    <input type="submit" name="submit" value="Upload"/> <!-- Submit field, multiple submit buttons can exist and be handled seperatly -->
</form>
{% endblock form %}