{% extends "page.tpl.html" %}
{% block title %}Welcome to DigiApproval{% endblock title %}

{% block content %}

<p>Welcome to DigiApproval!</p>

<ul>
  {% if user.is_authenticated %}
    {% if user.customeraccount.account_type %}
    <li><a href="{% url 'applicant_home' %}">Applicant Portal</a></li>
    {% else %}
    <li><a href="{% url 'approver_worklist' %}">Approver Worklist</a></li>
    {% endif %}
  {% else %}
    <li><a href="{% url 'login' %}">Log in</a></li>
    <li><a href="{% url 'register' %}">Register</a></li>
  {% endif %}
</ul>

{% endblock content %}