{% load macros %}
{% macro title %}
    {% block title %}{% endblock %}
{% endmacro %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load bootstrap3 %}
{% bootstrap_css %}
<link href="/static/sticky-footer-navbar.css" rel="stylesheet">
{% block css %}{% endblock %}
<title>DigiApproval - {% usemacro title %}</title>

</head>

<body>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Header... -->
      <header>      
        <!-- Fixed navbar -->
        <div class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'index' %}">DigiApproval</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                {% block nav %}
                <li><a href="/pages/help">Help</a></li>
                <li><a href="/pages/contact_us">Contact</a></li>
                {% if user.is_authenticated %}
                {% if user.customeraccount %}
                <li><a href="{% url 'applicant_home' %}">Applicant Home</a></li>
                {% else %}
                <li><a href="{% url 'approver_worklist' %}">Approver Worklist</a></li>
                <li><a href="{% url 'delegator_worklist' %}">Delegator Worklist</a></li>
                {% endif %}
                {% endif %}
                {% endblock %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                  <li>
                    <a href="{% url 'settings' %}">Logged in as: {{ user.get_full_name }}</a>
                  </li>
                  <li>
                  {% if user.customeraccount.account_type == 'CUSTOMER' %}
                    <a href="{% url 'remove_parentaccounts' %}">My Organisations</a>
                  {% elif user.customeraccount.account_type == 'ORGANISATION' %}
                    <a href="{% url 'modify_subaccounts' %}">My Members</a>
                  {% endif %}
                  <li>
                    <a href="{% url 'auth_logout' %}">Log out</a>
                  </li>
                {% else %}
                  <li>
                    <a href="{% url 'auth_login' %}">Log in</a>
                  </li>
                  <li>
                    <a href="{% url 'registration_register' %}">Register</a>
                  </li>
                {% endif %}
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </header>

      <!-- Begin page content -->
      <div class="container">
      {% if request.breadcrumbs.0 %}
      <ul class="breadcrumb">
        {% for breadcrumb in request.breadcrumbs %}
          <li>{% if not forloop.last %}
            <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a> <span class="divider"></span>
          {% else %}
            {{ breadcrumb.name }}  
          {% endif %}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <h1>{% usemacro title %}</h1>
        {% block content %}{% endblock %}

      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="credit"><a href="{% url 'index' %}">Home</a> | <a href="/pages/help">Help</a> | <a href="/pages/contact_us">Contact</a> | <a href="/pages/privacy">Privacy</a></p>
      </div>
    </div>

    {% bootstrap_javascript jquery=True %}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47794948-1', 'digiactive.com.au');
  ga('send', 'pageview');

    </script>
  </body>
</html>
