{% load macros %}
{% macro title %}
    {% block title %}{% endblock %}
{% endmacro %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load bootstrap3 %}
{% bootstrap_css %}
<link href="/static/sticky-footer-navbar.css" rel="stylesheet">
<title>DigiApproval - {% usemacro title %}</title>

</head>

<body>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Header... -->
      <header>      
        <!-- Fixed navbar -->
        <div class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'index' %}">DigiApproval</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                {% block nav %}
                <li><a href="/pages/help">Help</a></li>
                <li><a href="/pages/contact_us">Contact</a></li>
                {% if user.is_authenticated %}
                {% if user.customeraccount %}
                <li><a href="{% url 'applicant_home' %}">Applicant Home</a></li>
                {% else %}
                <li><a href="{% url 'approver_worklist' %}">Approver Worklist</a></li>
                <li><a href="{% url 'delegator_worklist' %}">Delegator Worklist</a></li>
                {% endif %}
                {% endif %}
                {% endblock %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                  <li>
                    <a href="{% url 'settings' %}">Logged in as: {{ user.get_full_name }}</a>
                  </li>
                  <li>
                  {% if user.customeraccount.account_type == 'CUSTOMER' %}
                    <a href="{% url 'remove_parentaccounts' %}">My Organisations</a>
                  {% elif user.customeraccount.account_type == 'ORGANISATION' %}
                    <a href="{% url 'modify_subaccounts' %}">My Members</a>
                  {% endif %}
                  <li>
                    <a href="{% url 'logout' %}">Log out</a>
                  </li>
                {% else %}
                  <li>
                    <a href="{% url 'login' %}">Log in</a>
                  </li>
                  <li>
                    <a href="{% url 'register' %}">Register</a>
                  </li>
                {% endif %}
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </header>

      <!-- Begin page content -->
      <div class="container">
      <h1>{% usemacro title %}</h1>
        {% block content %}{% endblock %}

      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="credit"><a href="{% url 'index' %}">Home</a> | <a href="/pages/help">Help</a> | <a href="/pages/contact_us">Contact</a> | <a href="/pages/privacy">Privacy</a></p>
      </div>
    </div>

    {% bootstrap_javascript jquery=True %}
  </body>
</html>
